### Import the required libraries then Create SparkContext

In [1]:
!apt-get install openjdk-8-jdk-headless -qq > /dev/null
!wget -q https://archive.apache.org/dist/spark/spark-3.0.1/spark-3.0.1-bin-hadoop2.7.tgz
!tar xf spark-3.0.1-bin-hadoop2.7.tgz
!pip install -q findspark

The system cannot find the path specified.
'wget' is not recognized as an internal or external command,
operable program or batch file.
tar: Error opening archive: Failed to open 'spark-3.0.1-bin-hadoop2.7.tgz'

In [2]:
import findspark
findspark.init()

from pyspark.sql import SparkSession
from pyspark import SparkContext
sc = SparkContext()

### Create and display an RDD from the following list

In [24]:
lst = [('JK', 22), ('V', 24), ('Jimin',24), ('RM', 25), ('J-Hope', 25), ('Suga', 26), ('Jin', 27)]

In [25]:
rdd = sc.parallelize(lst)
rdd.collect()

[('JK', 22),
 ('V', 24),
 ('Jimin', 24),
 ('RM', 25),
 ('J-Hope', 25),
 ('Suga', 26),
 ('Jin', 27)]

### Read sample1.txt file into RDD and displaying the first 4 elements

In [26]:
rdd_from_text = sc.textFile('sample1.txt')

### Count the total number of rows in RDD

In [27]:
rdd_from_text.count()

7

### Create a function to convert the data into lower case and splitting it

In [28]:
t1 = rdd_from_text.map(lambda line :line.lower())
t2 = t1.map(lambda line: line.split())
t2.collect()

[['utilitatis', 'causa', 'amicitia', 'est', 'quaesita.'],
 ['lorem',
  'ipsum',
  'dolor',
  'sit',
  'amet,',
  'consectetur',
  'adipiscing',
  'elit.'],
 ['collatio',
  'igitur',
  'ista',
  'te',
  'nihil',
  'iuvat.',
  'honesta',
  'oratio,',
  'socratica,',
  'platonis',
  'etiam.',
  'primum',
  'in',
  'nostrane',
  'potestate',
  'est,',
  'quid',
  'meminerimus?'],
 ['duo', 'reges:', 'constructio', 'interrete.'],
 ['quid,',
  'si',
  'etiam',
  'iucunda',
  'memoria',
  'est',
  'praeteritorum',
  'malorum?',
  'si',
  'quidem,',
  'inquit,',
  'tollerem,',
  'sed',
  'relinquo.',
  'an',
  'nisi',
  'populari',
  'fama?'],
 [],
 ['quamquam',
  'id',
  'quidem',
  'licebit',
  'iis',
  'existimare,',
  'qui',
  'legerint.',
  'summum',
  'a',
  'vobis',
  'bonum',
  'voluptas',
  'dicitur.',
  'at',
  'hoc',
  'in',
  'eo',
  'm.',
  'refert',
  'tamen,',
  'quo',
  'modo.',
  'quid',
  'sequatur,',
  'quid',
  'repugnet,',
  'vident.',
  'iam',
  'id',
  'ipsum',
  'absurdum,',
  'maximum',
  'malum',
  'neglegi.']]

### Filter the stopwords from the previous text

In [42]:
stopwords = ['a','all','the','as','is','am','an','and',
             'be','been','from','had','I','I’d','why','with']
# Hint: you may need use flatMap

In [43]:
t3 = t2.flatMap(lambda line : line)
t4 = t3.filter(lambda line :line not in  stopwords)
t4.collect()

['utilitatis',
 'causa',
 'amicitia',
 'est',
 'quaesita.',
 'lorem',
 'ipsum',
 'dolor',
 'sit',
 'amet,',
 'consectetur',
 'adipiscing',
 'elit.',
 'collatio',
 'igitur',
 'ista',
 'te',
 'nihil',
 'iuvat.',
 'honesta',
 'oratio,',
 'socratica,',
 'platonis',
 'etiam.',
 'primum',
 'in',
 'nostrane',
 'potestate',
 'est,',
 'quid',
 'meminerimus?',
 'duo',
 'reges:',
 'constructio',
 'interrete.',
 'quid,',
 'si',
 'etiam',
 'iucunda',
 'memoria',
 'est',
 'praeteritorum',
 'malorum?',
 'si',
 'quidem,',
 'inquit,',
 'tollerem,',
 'sed',
 'relinquo.',
 'nisi',
 'populari',
 'fama?',
 'quamquam',
 'id',
 'quidem',
 'licebit',
 'iis',
 'existimare,',
 'qui',
 'legerint.',
 'summum',
 'vobis',
 'bonum',
 'voluptas',
 'dicitur.',
 'at',
 'hoc',
 'in',
 'eo',
 'm.',
 'refert',
 'tamen,',
 'quo',
 'modo.',
 'quid',
 'sequatur,',
 'quid',
 'repugnet,',
 'vident.',
 'iam',
 'id',
 'ipsum',
 'absurdum,',
 'maximum',
 'malum',
 'neglegi.']

### Filter the words starting with ‘c’

In [46]:
t5 = t4.filter(lambda line: line[0]=='c')
t5.collect()

['causa', 'consectetur', 'collatio', 'constructio']

### Reduce the data by key and sum it (use the data from the following list)

In [43]:
list = [('JK', 22), ('V', 24), ('Jimin',24), ('RM', 25)
        , ('J-Hope', 25), ('Suga', 26), ('Jin', 27)
       , ('J-Hope', 12), ('Suga', 25), ('Jin', 34)
       , ('JK', 32), ('V', 44), ('Jimin',14), ('RM', 35)]
# Hint: use reduceByKey

In [44]:
rdd2 = sc.parallelize(list)
rdd2.collect()

[('JK', 22),
 ('V', 24),
 ('Jimin', 24),
 ('RM', 25),
 ('J-Hope', 25),
 ('Suga', 26),
 ('Jin', 27),
 ('J-Hope', 12),
 ('Suga', 25),
 ('Jin', 34),
 ('JK', 32),
 ('V', 44),
 ('Jimin', 14),
 ('RM', 35)]

In [45]:
# Using reduce by key
rdd2.reduceByKey(lambda a,b: a+b).collect()

[('JK', 54),
 ('J-Hope', 37),
 ('Suga', 51),
 ('Jin', 61),
 ('V', 68),
 ('Jimin', 38),
 ('RM', 60)]

In [46]:
#Using group by
T_1 = rdd2.groupByKey()
[(j[0],sum(j[1])) for j in T_1.collect()]

[('JK', 54),
 ('J-Hope', 37),
 ('Suga', 51),
 ('Jin', 61),
 ('V', 68),
 ('Jimin', 38),
 ('RM', 60)]

### Creat some key value pairs RDDs

In [47]:
rdd1 = sc.parallelize([('a',2),('b',3)])
rdd2 = sc.parallelize([('a',9),('b',7),('c',10)])

### Perform Join operation on the RDDs (rdd1,rdd2)

In [48]:
rdd1.join(rdd2).collect()

[('a', (2, 9)), ('b', (3, 7))]