## Task 1 - SQL

### Build SparkSession:

In [1]:
import findspark
findspark.init()

In [2]:
from pyspark.sql import SparkSession
spark = SparkSession.builder.getOrCreate()

21/10/08 09:15:23 WARN Utils: Your hostname, ubuntu resolves to a loopback address: 127.0.1.1; using 192.168.153.130 instead (on interface ens33)
21/10/08 09:15:23 WARN Utils: Set SPARK_LOCAL_IP if you need to bind to another address
WARNING: An illegal reflective access operation has occurred
WARNING: Illegal reflective access by org.apache.spark.unsafe.Platform (file:/opt/spark/jars/spark-unsafe_2.12-3.0.1.jar) to constructor java.nio.DirectByteBuffer(long,int)
WARNING: Please consider reporting this to the maintainers of org.apache.spark.unsafe.Platform
WARNING: Use --illegal-access=warn to enable warnings of further illegal reflective access operations
WARNING: All illegal access operations will be denied in a future release
21/10/08 09:15:24 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable
Using Spark's default log4j profile: org/apache/spark/log4j-defaults.properties
Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).

### Read the json file:

In [3]:
json_file = spark.read.json('DataFrames_sample.json')

### Display the schema:

In [4]:
json_file.printSchema()

root
 |-- D: double (nullable = true)
 |-- H: double (nullable = true)
 |-- HDD: string (nullable = true)
 |-- Id: long (nullable = true)
 |-- Model: string (nullable = true)
 |-- RAM: string (nullable = true)
 |-- ScreenSize: string (nullable = true)
 |-- W: double (nullable = true)
 |-- Weight: double (nullable = true)
 |-- Year: long (nullable = true)

### Get all the data when "Model" equal "MacBook Pro":

In [5]:
json_file.select('*').where('Model == "MacBook Pro"').show()

+----+----+---------+---+-----------+----+----------+-----+------+----+
|   D|   H|      HDD| Id|      Model| RAM|ScreenSize|    W|Weight|Year|
+----+----+---------+---+-----------+----+----------+-----+------+----+
|9.48|0.61|512GB SSD|  1|MacBook Pro|16GB|       15"|13.75|  4.02|2015|
+----+----+---------+---+-----------+----+----------+-----+------+----+

### Create TempView:

In [6]:
json_file.createOrReplaceTempView('json_table')

### Display "RAM"column and count "RAM" column:

In [7]:
spark.sql('''SELECT RAM,COUNT(RAM)
            FROM json_table
            GROUP BY RAM''').show()

+----+----------+
| RAM|count(RAM)|
+----+----------+
|64GB|         1|
|16GB|         1|
| 8GB|         2|
+----+----------+

### Get all columns when "Year" column equal "2015"

In [8]:
spark.sql('''SELECT * 
            FROM json_table
            WHERE Year = "2015"''').show()

+----+----+---------+---+-----------+----+----------+-----+------+----+
|   D|   H|      HDD| Id|      Model| RAM|ScreenSize|    W|Weight|Year|
+----+----+---------+---+-----------+----+----------+-----+------+----+
|9.48|0.61|512GB SSD|  1|MacBook Pro|16GB|       15"|13.75|  4.02|2015|
+----+----+---------+---+-----------+----+----------+-----+------+----+

### Get all when "Model" start with "M":

In [9]:
spark.sql('''SELECT * 
            FROM json_table
            WHERE Model like 'M%' ''').show()

+----+----+---------+---+-----------+----+----------+-----+------+----+
|   D|   H|      HDD| Id|      Model| RAM|ScreenSize|    W|Weight|Year|
+----+----+---------+---+-----------+----+----------+-----+------+----+
|9.48|0.61|512GB SSD|  1|MacBook Pro|16GB|       15"|13.75|  4.02|2015|
|7.74|0.52|256GB SSD|  2|    MacBook| 8GB|       12"|11.04|  2.03|2016|
|8.94|0.68|128GB SSD|  3|MacBook Air| 8GB|     13.3"| 12.8|  2.96|2016|
+----+----+---------+---+-----------+----+----------+-----+------+----+

### Get all data when "Model" column equal "MacBook Pro"

In [10]:
spark.sql('''SELECT * 
            FROM json_table
            WHERE Model = 'MacBook Pro' ''').show()

+----+----+---------+---+-----------+----+----------+-----+------+----+
|   D|   H|      HDD| Id|      Model| RAM|ScreenSize|    W|Weight|Year|
+----+----+---------+---+-----------+----+----------+-----+------+----+
|9.48|0.61|512GB SSD|  1|MacBook Pro|16GB|       15"|13.75|  4.02|2015|
+----+----+---------+---+-----------+----+----------+-----+------+----+

### Get all data with Multiple Conditions when "RAM" column equal "8GB" and "Model" column is "Macbook".

In [11]:
spark.sql('''SELECT * 
            FROM json_table 
            WHERE RAM = '8GB' AND Model = 'MacBook' ''').show()

+----+----+---------+---+-------+---+----------+-----+------+----+
|   D|   H|      HDD| Id|  Model|RAM|ScreenSize|    W|Weight|Year|
+----+----+---------+---+-------+---+----------+-----+------+----+
|7.74|0.52|256GB SSD|  2|MacBook|8GB|       12"|11.04|  2.03|2016|
+----+----+---------+---+-------+---+----------+-----+------+----+

### Get all data with Multiple Conditions when "D" greater than or equal "8" and "Model" column is "iMac".

In [12]:
spark.sql('''SELECT *
            FROM json_table 
            WHERE D >=8 AND Model = 'iMac' ''').show()

+---+----+-------+---+-----+----+----------+----+------+----+
|  D|   H|    HDD| Id|Model| RAM|ScreenSize|   W|Weight|Year|
+---+----+-------+---+-----+----+----------+----+------+----+
|8.0|20.3|1TB SSD|  4| iMac|64GB|       27"|25.6|  20.8|2017|
+---+----+-------+---+-----+----+----------+----+------+----+

## Task 2

### Read "test1" dataset:

In [13]:
test1 = spark.read.csv('test1.csv', header=True , inferSchema= True)

### Display Salary of the people less than or equal to 20000

In [14]:
from pyspark.sql.functions import *

In [15]:
test1.select('*').where(col('Salary') <= 20000).show()

+-------+---+----------+------+
|   Name|age|Experience|Salary|
+-------+---+----------+------+
|  Sunny| 29|         4| 20000|
|   Paul| 24|         3| 20000|
| Harsha| 21|         1| 15000|
|Shubham| 23|         2| 18000|
+-------+---+----------+------+

### Display Salary of the people less than or equal to 20000 and greater than or equal 15000

In [16]:
test1.select('*').where(col('Salary') <= 20000).where(col('Salary') >= 15000).show()

+-------+---+----------+------+
|   Name|age|Experience|Salary|
+-------+---+----------+------+
|  Sunny| 29|         4| 20000|
|   Paul| 24|         3| 20000|
| Harsha| 21|         1| 15000|
|Shubham| 23|         2| 18000|
+-------+---+----------+------+

## Task 3

### Read "test3" dataset:

In [17]:
test3= spark.read.csv('test3.csv', header=True , inferSchema= True)

### Display dataset

In [19]:
test3.show()

+---------+------------+------+
|     Name| Departments|salary|
+---------+------------+------+
|    Krish|Data Science| 10000|
|    Krish|         IOT|  5000|
|   Mahesh|    Big Data|  4000|
|    Krish|    Big Data|  4000|
|   Mahesh|Data Science|  3000|
|Sudhanshu|Data Science| 20000|
|Sudhanshu|         IOT| 10000|
|Sudhanshu|    Big Data|  5000|
|    Sunny|Data Science| 10000|
|    Sunny|    Big Data|  2000|
+---------+------------+------+

### Display schema

In [20]:
test3.printSchema()

root
 |-- Name: string (nullable = true)
 |-- Departments: string (nullable = true)
 |-- salary: integer (nullable = true)

### Group by "Name" column and using sum function on "Name" column

In [21]:
test3.createOrReplaceTempView('test3_table')

In [23]:
spark.sql('''SELECT Name, SUM(Salary)
            FROM test3_table 
            GROUP BY Name ''').show()

+---------+-----------+
|     Name|sum(Salary)|
+---------+-----------+
|Sudhanshu|      35000|
|    Sunny|      12000|
|    Krish|      19000|
|   Mahesh|       7000|
+---------+-----------+

### Group by "Name" column and using avg function on "Name" column

In [24]:
spark.sql('''SELECT Name, AVG(Salary)
            FROM test3_table
            GROUP BY Name ''').show()

+---------+------------------+
|     Name|       avg(Salary)|
+---------+------------------+
|Sudhanshu|11666.666666666666|
|    Sunny|            6000.0|
|    Krish| 6333.333333333333|
|   Mahesh|            3500.0|
+---------+------------------+

### Group by "Departments" column and using sum function on "Departments" column

In [25]:
spark.sql('''SELECT Departments, SUM(Salary)
            FROM test3_table
            GROUP BY Departments ''').show()

+------------+-----------+
| Departments|sum(Salary)|
+------------+-----------+
|         IOT|      15000|
|    Big Data|      15000|
|Data Science|      43000|
+------------+-----------+

### Group by "Departments" column and using mean function on "Departments" column:

In [26]:
spark.sql('''SELECT Departments, MEAN(Salary)
            FROM test3_table
            GROUP BY Departments ''').show()

+------------+------------+
| Departments|mean(Salary)|
+------------+------------+
|         IOT|      7500.0|
|    Big Data|      3750.0|
|Data Science|     10750.0|
+------------+------------+

Group by "Departments" column and using count function on "Departments" column:

In [27]:
spark.sql('''SELECT Departments, COUNT(Departments) 
            FROM test3_table 
            GROUP BY Departments ''').show()

+------------+------------------+
| Departments|count(Departments)|
+------------+------------------+
|         IOT|                 2|
|    Big Data|                 4|
|Data Science|                 4|
+------------+------------------+

### Apply agg to using sum function get the total of salaries

In [28]:
spark.sql('''SELECT SUM(Salary) 
            From test3_table ''').show()

+-----------+
|sum(Salary)|
+-----------+
|      73000|
+-----------+

## Task 4

You've been flown to their headquarters in Ulsan, South Korea, to assist them in accurately estimating the number of crew members a ship will need.

They're currently building new ships for certain customers, and they'd like you to create a model and utilize it to estimate how many crew members the ships will require.

Metadata:
1. Measurements of ship size 
2. capacity 
3. crew 
4. age for 158 cruise ships.

It is saved in a csv file for you called "ITI_data.csv". our task is to develop a regression model that will assist in predicting the number of crew members required for future ships. The client also indicated that they have found that particular cruise lines will differ in acceptable crew counts, thus this is most likely an important factor to consider when conducting your investigation.

In [29]:
df = spark.read.csv('ITI_data.csv', header=True , inferSchema= True)

In [30]:
X_train, X_test = df.randomSplit([0.8,0.2],seed=0)
print(f"There are {X_train.count()} rows in the training set, and {X_test.count()} in the test set.")

There are 125 rows in the training set, and 33 in the test set.

In [31]:
X_train.dtypes

[('Ship_name', 'string'),
 ('Cruise_line', 'string'),
 ('Age', 'int'),
 ('Tonnage', 'double'),
 ('passengers', 'double'),
 ('length', 'double'),
 ('cabins', 'double'),
 ('passenger_density', 'double'),
 ('crew', 'double')]

In [32]:
from pyspark.ml.feature import StringIndexer, OneHotEncoder
from pyspark.ml import Pipeline
from pyspark.ml.regression import LinearRegression

### OneHotEncoder

In [33]:
categoricalColumns = [col for (col, dtype) in X_train.dtypes
                   if (dtype == "string")]
categoricalColumns

['Ship_name', 'Cruise_line']

In [34]:
indexOutputColumns = [x + "_Index" for x in categoricalColumns]
indexOutputColumns

['Ship_name_Index', 'Cruise_line_Index']

In [35]:
oheOutputColumns = [x + "_OHE" for x in categoricalColumns]
oheOutputColumns

['Ship_name_OHE', 'Cruise_line_OHE']

In [36]:
stringIndexer = StringIndexer(inputCols=categoricalColumns,
                             outputCols=indexOutputColumns,
                             handleInvalid='skip')
oheEncoder = OneHotEncoder(inputCols=indexOutputColumns,
                          outputCols=oheOutputColumns)

###Use VectorAssembler to merge all columns into one column:

In [37]:
numericColumns = [field for (field,dataType) in X_train.dtypes
              if (dataType!='string') ]
numericColumns

['Age',
 'Tonnage',
 'passengers',
 'length',
 'cabins',
 'passenger_density',
 'crew']

In [38]:
assemblerInputs = oheOutputColumns + numericColumns
assemblerInputs

['Ship_name_OHE',
 'Cruise_line_OHE',
 'Age',
 'Tonnage',
 'passengers',
 'length',
 'cabins',
 'passenger_density',
 'crew']

In [39]:
from pyspark.ml.feature import VectorAssembler
vecAssembler = VectorAssembler(inputCols=assemblerInputs,outputCol='features')

### Create a Linear Regression Model

In [40]:
lr = LinearRegression(featuresCol='features', labelCol='crew', predictionCol='prediction')

### Creating a Pipeline

In [42]:
pipeline = Pipeline(stages = [stringIndexer,oheEncoder,vecAssembler,lr])

In [44]:
pipelineModel = pipeline.fit(X_train)

21/10/08 09:31:07 WARN Instrumentation: [1224f94e] regParam is zero, which might cause numerical instability and overfitting.
21/10/08 09:31:08 WARN BLAS: Failed to load implementation from: com.github.fommil.netlib.NativeSystemBLAS
21/10/08 09:31:08 WARN BLAS: Failed to load implementation from: com.github.fommil.netlib.NativeRefBLAS
21/10/08 09:31:08 WARN LAPACK: Failed to load implementation from: com.github.fommil.netlib.NativeSystemLAPACK
21/10/08 09:31:08 WARN LAPACK: Failed to load implementation from: com.github.fommil.netlib.NativeRefLAPACK
21/10/08 09:31:08 WARN Instrumentation: [1224f94e] Cholesky solver failed due to singular covariance matrix. Retrying with Quasi-Newton solver.

In [45]:
pred_df = pipelineModel.transform(X_test)

### Model Evaluation

In [46]:
from pyspark.ml.evaluation import RegressionEvaluator
evaluation = RegressionEvaluator(predictionCol='prediction',
                                        labelCol='crew',
                                        metricName='r2')

In [47]:
r2_score = evaluation.evaluate(pred_df)
print("Model r2 score =  {}".format(r2_score))

Model r2 score =  0.9996681519129993